/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center;   /* 垂直方向の中央揃え */
    height: 100vh;         /* ビューポート全体の高さを指定 */
    background-color: #f4f4f4;
}

.image-container {
    text-align: center; /* 中央揃え */
    position: relative;
}

.image {
    max-width: 50%;  /* 親要素の幅を超えない */
    height: 50%;     /* アスペクト比を維持 */
    border: 2px solid #ccc; /* 枠線を追加 */
    border-radius: 20px; /* 角を丸くする */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
}
p {
    position: absolute;
}
.目的 {
    top: 20%;
    left: 33%;
}
.旅費 {
    top: 25%;
    left: 33%;
}
.日当 {
    top: 30%;
    left: 33%;
}


/*re
